/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http: //www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* #Reset & Basics (Inspired by E. Meyers)  */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-size: 13px;
    line-height: 22px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul, li {
    list-style: inside;
}
ol li {
    list-style: inside decimal;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p {
    margin: 0 0 20px 0;
    line-height: 22px;
    font-size: 13px;
    color: #6d7683;
}
/* Basic Styles  */
html {
    -webkit-text-size-adjust: none;
}
* {
    outline: none;
}
input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
::-moz-selection {
    color: #fff;
    text-shadow: none;
}
::selection {
    color: #fff;
    text-shadow: none;
}
blockquote {
    font-weight: normal;
}
.google-map iframe {
    width: 100%;
    min-height: 400px;
}
pre {
    background: #F5F5F5;
    color: #888;
    padding: 10px;
    margin: 0;
    border: 1px solid #E9E9E9;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: hidden;
    line-height: 24px;
}
.display_none {
    display: none;
}
/* Main Fonts  */
body,.qoute p,input,.button,label,.more,blockquote,h1, h2, h3, h4, h5, h6,.navigation li ul li,.twitter-follow,.widget .search-submit,.header-3 .logo span {
    font-family: "Open Sans","Droid Arabic Kufi", Arial, sans-serif;
}
.logo,.wrap-search input[type="search"],.widget-title,.post-title,.block-box-title,.post-head > h3,.widget-posts-content > a,.page-404 h2,.page-404 h3,.block-box-1 li .block-box-content > a:first-child,.footer-subscribe h3,.box-slideshow-content > a,.news-ticker-title {
    font-family: "Roboto Slab","Droid Arabic Kufi", Arial, sans-serif;
}
.navigation li,.header-follow-a {
    font-family: "Lato","Droid Arabic Kufi", Arial, sans-serif;
}
.button,.widget .search-submit,input[type="submit"],input[type="button"] {
    display: inline-block;
    margin: 5px 5px 5px 0;
    border: none;
    cursor: pointer;
    text-shadow: none !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}
.button i {
    margin-right: 10px;
}
.button.large {
    padding: 8px 30px;
}
.button.medium {
    padding: 7px 21px;
}
.button.small {
    padding: 7px 15px;
}
.button.mini {
    padding: 3px 10px;
}
.f_left {
    float: left !important;
}
.f_right {
    float: right !important;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
    width: 100%;
    padding: 10px;
    /*background-color: #f6f6f6;*/
    border: 1px solid #e4e6e8;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    -o-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
textarea { min-height: 60px }
select {
    width: 220px;
    padding: 5px;
}
label,
legend {
    cursor: pointer;
    display: block;
}
/* font size */
.button.mini {
    font-size: 12px;
}
.button.small {
    font-size: 14px;
}
.button.medium {
    font-size: 16px;
}
.button.large {
    font-size: 18px;
}
.flex-direction-nav li a {
    font-size: 31px;
}
.padding_t_4 {
    padding-top: 4px;
}
/* margin */
.margin_r_0_l_10 {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.margin_r_10_l_0 {
    margin-right: 10px !important;
    margin-left: 0 !important;
}
.margin_0 {
    margin: 0 !important;
}
.margin_r_5 {
    margin-right: 5px;
}
.margin_r_7 {
    margin-right: 7px;
}
.margin_r_10 {
    margin-right: 10px;
}
.margin_r_15 {
    margin-right: 15px;
}
.margin_r_20 {
    margin-right: 20px;
}
.margin_l_5 {
    margin-left: 5px;
}
.margin_l_7 {
    margin-left: 7px;
}
.margin_l_10 {
    margin-left: 10px;
}
.margin_l_15 {
    margin-left: 15px;
}
.margin_l_20 {
    margin-left: 20px;
}
.margin_t_5 {
    margin-top: 5px;
}
.margin_t_7 {
    margin-top: 7px;
}
.margin_t_10 {
    margin-top: 10px;
}
.margin_t_15 {
    margin-top: 15px;
}
.margin_t_20 {
    margin-top: 20px;
}
.margin_t_25 {
    margin-top: 25px;
}
.margin_t_50 {
    margin-top: 50px;
}
.margin_b_5 {
    margin-bottom: 5px;
}
.margin_b_7 {
    margin-bottom: 7px;
}
.margin_b_10 {
    margin-bottom: 10px;
}
.margin_b_15 {
    margin-bottom: 15px;
}
.margin_b_20 {
    margin-bottom: 20px !important;
}
.margin_b_25 {
    margin-bottom: 25px !important;
}
.margin_b_30 {
    margin-bottom: 30px !important;
}
.margin_b_35 {
    margin-bottom: 35px;
}
.margin_b_40 {
    margin-bottom: 40px !important;
}
.margin_b_50 {
    margin-bottom: 50px;
}
/* Font size */
.font10 { font-size: 10px; }
.font11 { font-size: 11px; }
.font12 { font-size: 12px; }
.font13 { font-size: 13px; }
.font14 { font-size: 14px; }
.font15 { font-size: 15px; }
.font16 { font-size: 16px; }
.font17 { font-size: 17px; }
.font18 { font-size: 18px; }
.font19 { font-size: 19px; }
.font20 { font-size: 20px; }
.font21 { font-size: 21px; }
.font22 { font-size: 22px; }
.font23 { font-size: 23px; }
.font24 { font-size: 24px; }
.font25 { font-size: 25px; }
.font26 { font-size: 26px; }
.font27 { font-size: 27px; }
.font28 { font-size: 28px; }
.font29 { font-size: 29px; }
.font30 { font-size: 30px; }
.font31 { font-size: 31px; }
.font32 { font-size: 32px; }
.font33 { font-size: 33px; }
.font34 { font-size: 34px; }
.font35 { font-size: 35px; }
.font36 { font-size: 36px; }
.font37 { font-size: 37px; }
.font38 { font-size: 38px; }
.font39 { font-size: 39px; }
.font40 { font-size: 40px; }
.font41 { font-size: 41px; }
.font42 { font-size: 42px; }
.font43 { font-size: 43px; }
.font44 { font-size: 44px; }
.font45 { font-size: 45px; }
.font46 { font-size: 46px; }
.font47 { font-size: 47px; }
.font48 { font-size: 48px; }
.font49 { font-size: 49px; }
.font50 { font-size: 50px; }
.font51 { font-size: 51px; }
.font52 { font-size: 52px; }
.font53 { font-size: 53px; }
.font54 { font-size: 54px; }
.font55 { font-size: 55px; }
.font56 { font-size: 56px; }
.font57 { font-size: 57px; }
.font58 { font-size: 58px; }
.font59 { font-size: 59px; }
.font60 { font-size: 60px; }
.font61 { font-size: 61px; }
.font62 { font-size: 62px; }
.font63 { font-size: 63px; }
.font64 { font-size: 64px; }
.font65 { font-size: 65px; }
.font66 { font-size: 66px; }
.font67 { font-size: 67px; }
.font68 { font-size: 68px; }
.font69 { font-size: 69px; }
.font70 { font-size: 70px; }
.font71 { font-size: 71px; }
.font72 { font-size: 72px; }
.font73 { font-size: 73px; }
.font74 { font-size: 74px; }
.font75 { font-size: 75px; }
.font76 { font-size: 76px; }
.font77 { font-size: 77px; }
.font78 { font-size: 78px; }
.font79 { font-size: 79px; }
.font80 { font-size: 80px; }
.font81 { font-size: 81px; }
.font82 { font-size: 82px; }
.font83 { font-size: 83px; }
.font84 { font-size: 84px; }
.font85 { font-size: 85px; }
.font86 { font-size: 86px; }
.font87 { font-size: 87px; }
.font88 { font-size: 88px; }
.font89 { font-size: 89px; }
.font90 { font-size: 90px; }
.font91 { font-size: 91px; }
.font92 { font-size: 92px; }
.font93 { font-size: 93px; }
.font94 { font-size: 94px; }
.font95 { font-size: 95px; }
.font96 { font-size: 96px; }
.font97 { font-size: 97px; }
.font98 { font-size: 98px; }
.font99 { font-size: 99px; }
.font100 { font-size: 100px; }
/* height */
.height_10 {
    height: 10px !important;
}
.height_15 {
    height: 15px !important;
}
.height_20 {
    height: 20px !important;
}
.height_25 {
    height: 25px !important;
}
.height_30 {
    height: 30px;
    width: 30px;
}
.height_30 i {
    line-height: 30px;
}
.height_40 {
    height: 40px;
    width: 40px;
}
.height_40 i {
    line-height: 40px;
}
.height_50 {
    height: 50px;
    width: 50px;
}
.height_50 i {
    line-height: 50px;
}
.height_60 {
    height: 60px;
    width: 60px;
}
.height_60 i {
    line-height: 60px;
}
.height_70 {
    height: 70px;
    width: 70px;
}
.height_60 i {
    line-height: 60px;
}
.height_80 {
    height: 80px;
    width: 80px;
}
.height_80 i {
    line-height: 80px;
}
.height_90 {
    height: 90px;
    width: 90px;
}
.height_90 i {
    line-height: 90px;
}
.height_100 {
    height: 100px;
    width: 100px;
}
.height_100 i {
    line-height: 100px;
}
.gap {
    height: 30px;
    clear: both;
}
/* Backgrounds  */
.button.black,.button.dark_button.color, .button.color:hover {
    background: #263241;
}
table.style th {
    background: #F3F3F3;
}
blockquote,.qoute {
    font-size: 20px;
    line-height: 28px;
    font-style: italic;
}
.more {
    background: #2f3239;
}
#map {
    background: #e5e3df;
}
.button.normal {
    background: #f1f1f1;
}
/* Colors   */
.more, .more:hover,.flex-direction-nav li a, .flex-direction-nav li a:hover {
    color: #fff;
}
body, a.button.normal, a,li a:hover,p a:hover {
    color: #2f3c4e;

}

.qoute p {
    color: #757575;
}
.default-color {
    color: #2f3239;
}
#columns p {
    font-size: 13px;
    color: #2f3239;
}
/* borders  */
hr.line {
    border: solid #EAEAEA; border-width: 1px 0 0; clear: both;height: 0;
}
hr {
    border: solid #EAEAEA;
    border-width: 1px 0 0;
    clear: both;
    margin: -1px 0 0 0;
    height: 0;
}
blockquote {
    margin: 0 0 20px 0;
    position: relative;
    padding: 20px;
}
blockquote p {
    margin: 0 !important;
}
/* Aligns  */
table.style th, table.style td,.flex-direction-nav li a,.t_center  {
    text-align: center;
}
.t_center {
    margin-right: auto;
    margin-left: auto;
}
span.t_center {
    display: block;
}
.t_left {
    text-align: left;
}
.t_right {
    text-align: right;
}
/* Typography  */
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 18px;
    font-weight: bold;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 {
    font-size: 32px;
    line-height: 35px;
}
h2 {
    font-size: 28px;
    line-height: 30px;
}
h3 {
    font-size: 25px;
    line-height: 26px;
}
h4 {
    font-size: 22px;
    line-height: 24px;
}
h5 {
    font-size: 18px;
    line-height: 22px;
}
h6 {
    font-size: 14px;
    line-height: 20px;
}
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }
abbr { border-bottom: 1px dashed; cursor: help; }
address,
cite,
em { font-style: italic }
dfn { border-bottom: 1px dashed; font-style: italic; }
big { font-size: large }
small,
sub,
sup { position: relative; font-size: 11px; vertical-align: baseline; }
sub { top: 3px }
sup { bottom: 3px }
strong,
b { font-weight: bold; }
mark {
    display: inline;
    padding: 2px 4px;
    background-color: #f6f2d6;
    color:#7c6d08;
}
mark.dark {
    background-color: #333;
    color: #ffffff;
}
.table-style-1 table,.table-style-2 table,table {
    margin: 0 0 30px 0;
    text-align: left;
    border: 1px solid #dbdbdb;
    width: 100%;
}
.table-style-1 tr:nth-child(even),.table-style-2 tr:nth-child(even),table tr:nth-child(even) { background: #ffffff; }
.table-style-1 tr:nth-child(odd),.table-style-2 tr:nth-child(odd),table tr:nth-child(odd) { background: #ffffff; }
.table-style-1 th,
.table-style-1 td,
table th,
table td,
.table-style-2 th,
.table-style-2 td {
    padding: 10px 20px;
    vertical-align: middle;
    border: 1px solid #e2e2e2;
}
.table-style-1 tr:hover,.table-style-2 tr:hover,table tr:hover {
    background: #fafafa;
}
.table-style-1 thead th,.table-style-2 thead th,table thead th {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border: 1px solid #dbdbdb;
    padding: 15px 20px;
    background-color: #F9F9F9;
}
/* Links  */
a,.button,.header-search,.header-follow-a,.post-type,.related-post-type,.related-post-head,.post-img-lightbox,.post-img-lightbox i,.widget.widget-statistics li a span,.accordion-archive ul li:before,.widget .search-submit,input[type="submit"],input[type="button"],.carousel-box-2 .block-box-content {
    transition: all 0.17s ease-in-out;
    -moz-transition: all 0.17s ease-in-out;
    -webkit-transition: all 0.17s ease-in-out;
    -o-transition: all 0.17s ease-in-out;
}
.navigation_mobile_click,.navigation_mobile_click:before,.go-up,.portfolio-one .portfolio-img img,.block-box-img a:before,.block-box-img i.fa,.widget-posts-img a:before,.widget-no-img .widget-posts-img a:before,.widget-posts-img i.fa,.widget-no-img .widget-posts-img i.fa,.carousel-box-img a:before,.carousel-box-img i.fa,.post-edit i,.post-delete i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.portfolio-hover {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* Images  */
img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: auto;
}